html{
    min-height: 100%;
}

body {
    
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(235 101 101) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    min-height: 103vh;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

footer{
    border-top: 2px solid rgba(0, 0, 0, 0.205);
    bottom: 0px;
    height: 2em;
    width: 80%;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

i{
    font-size: 25px;
    margin-left: 0.1em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.calculator-body{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    background-color: rgb(201, 201, 201);
    border: 0.3em solid rgb(124, 124, 124);
    border-radius: 15px;
    width: 23em;
    min-height: 30em;
    margin-top: 4em;
    margin-bottom: 4em;
    box-shadow: 0px 0px 20px 0px;
}

.display{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 90%;
    min-height: 3.5em;
    background-color: rgb(189, 215, 255);
    border: 0.1em solid rgb(124, 124, 124);
    border-radius: 15px;
    font-size: 2.5em;
}

#calculation{
    margin-left: 0.3em;
    float: left;
    width: 40%;
    white-space: initial;
    word-wrap: break-word;
    word-break: break-all;
}

#sol{
    margin-right: 0.3em;
    width: 40%;
    white-space: initial;
    word-wrap: break-word;
    text-align: right;
    color: green;
}

#zero{
    grid-row: 5;
    grid-column: 1/3;
}

.buttons-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    width: 90%;
    min-height: 18em;
    margin-bottom: 1.5em;
}

.btn{
    cursor: pointer;
    border: 0.15em solid rgb(124, 124, 124);
    border-radius: 15px;
    font-size: 1.5em
}

.delete-btn{
    background-color: rgb(252, 147, 147);
}

.operator-btn{
    background-color: rgb(109, 184, 255);
}

.special-chat-btn{
    background-color: rgb(248, 253, 180);
}